<!-- @format -->
{% extends 'learning_logs/base.html' %} {% block page_header %}
<h3>{{topic}}</h3>
{% endblock page_header %} {% block content %}
<p><a href="{% url 'learning_logs:new_entry' topic.id %}"> Add new entry</a></p>

{% for entry in entries %}
<div class="card mb-3">
  {% comment %} 这里要特别注意， date:'M d, Y H:i' ,如果在date: 后多加一个空格，就会报错 {% endcomment %}
  <h4 class="card-header">
    {{ entry.date_added|date:'M d, Y H:i' }}
    <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a></small>
  </h4>
  <div class="card-body">{{ entry.text|linebreaks }}</div>
</div>
{% empty %}
<p>There are no entries for this topic yet.</p>
{% endfor %} {% endblock content %}
