<!-- @format -->
{% extends 'learning_logs/base.html' %} {% block content %} {% if form.errors %}
<p>Your username and password did't mattch, Please try again.</p>
{% endif %}
<form
  action="{% url 'users:login' %}"
  method="post">
  {% csrf_token %} {{ form.as_p }}
  <button name="submit">log in</button>
  {% comment %} 在登录成功后，告诉django重定向什么方向 {% endcomment %}
  <input
    type="hidden"
    name="next"
    value="{% url 'learning_logs:index' %}" />
</form>
{% endblock content %} {% comment %} 这些变量从view调用的时候传来，django模板中，有特殊的语法 {% endcomment %}
